@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome RubyInstrument</h1>
</div>

<!-- 시작 페이지. 
nav에  악기, 부속품, 기타로 분류시킨다.
main에는 판매중인 전체 리스트를 보여준다.
main 오른쪽, aside에는 로그인 할 수 있는 부분을 배치
footer에는 RubyInstrument 및 내 이메일 기재.
    -->