@{
    ViewData["Title"] = "Ruby Instrument";
}

<div id="ImgContainer">
    <ul id="slide">
        <li><img src="https://i.imgur.com/DYLUJUH.jpg" alt="photo"></li>
        <li><img src="https://i.imgur.com/wkEBBEL.jpg" alt="photo"></li>
        <li><img src="https://i.imgur.com/QYVCfdc.jpg" alt="photo"></li>
        <li><img src="https://i.imgur.com/Cj7rBAI.jpg" alt="photo"></li>
        <li><img src="https://i.imgur.com/pBRfQXU.jpg" alt="photo"></li>
    </ul>
</div>