@model LoginViewModel

@{
    ViewData["Title"] = "로그인";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <br />
        <h2 class="text-center">@ViewData["Title"]</h2>
        <hr />
        <form method="post" class="form-horizontal">
            <div class="form-group">
                <input asp-for="UserName" class="form-control" placeholder="아이디" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="비밀번호" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info form-control">로그인</button>
            </div>
        </form>
    </div>
</div>